<div class="jumbotron">
    <div class="container">
      <h1>YourTimeZone.com!</h1>
      <p>You can now find out about other countries timezones</p>
      <p><a class="btn btn-primary btn-lg" href=sign_up role="button">Getting started</a></p>
    </div>
    
    <div class="container">
      <h2>Get To Know Us!</h2>
      <p>YourTimeZone.com is a web app that allows you to know other countries time.</p>
    </div>
    
    <div class="container">
      <h2>Find Us!</h2>
      <p>Now you can easily find us on facebook.com/yourtimezone</p>
      </br>
      <p>Adress: Lot 19, Floor 82, KLCC Tower, Kuala Lumpur</p>
      <p>Phone: 999</p>
    </div>
    
    
</div>